<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('https://record-collector-dev.s3.amazonaws.com/logo-garnish.png')%>
    <title>record collector</title>
    <%= csrf_meta_tags %>
    <%# <meta property="og:title" content="Record Collector">
    <meta property="og:description" content="uhhhhhh">
    <meta property="og:image" content="https://record-collector-dev.s3.amazonaws.com/Screen+Shot+2021-08-10+at+13.13.13.png">
    <meta property="og:url" content="http://record-collector.matthewbarnes.tech/#/"> %>
    <meta property="og:title" content="Home Court"/>
    <meta property="og:image" content="https://i.imgur.com/nMvzDeO.gif" />
    <meta propery="og:description" content="Real-time social platform that allows users to find, create, and join nearby pickup sports events using React Google Maps API"/>
    <meta property="og:url" content="https://www.homecourt.club/#/"/>
    <meta property="og:url" content="https://home-court.herokuapp.com/#/"/>
    <%if current_user%>
      <script>
        window.currentUser = {
          "id": <%=current_user.id%>,
          "username": "<%=current_user.username%>",
          "email": "<%=current_user.email%>"
        }
      </script>
    <%end%>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Roboto+Slab:wght@100;200;300;400;500;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
