<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('https://record-collector-dev.s3.amazonaws.com/logo-garnish.png')%>
    <title>record collector</title>
    <%= csrf_meta_tags %>
    <meta name="title" property="og:title" content="Record Collector"/>
    <meta name="image" property="og:image" content="https://record-collector-dev.s3.amazonaws.com/rc-SS-3.png" />
    <meta name="description" propery="og:description" content="Bandcamp clone with cart checkout functionality, facilitated by Rails/Postgres/React/Redux"/>
    <meta name="url" property="og:url" content="https://record-collector.matthewbarnes.tech/#/"/>
    <%if current_user%>
      <script>
        window.currentUser = {
          "id": <%=current_user.id%>,
          "username": "<%=current_user.username%>",
          "email": "<%=current_user.email%>"
        }
      </script>
    <%end%>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Roboto+Slab:wght@100;200;300;400;500;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
